<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 sidebar">
      <h3>Admin Dashboard</h3>
      <ul>
        <li><a href="/addUser">Add Driver</a></li>
        <li><a href="/scenario1">Scenario 1</a></li>
        <li><a href="/scenario2">Scenario 2</a></li>
        <li><a href="/scenario3">Scenario 3</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      
      <main role="main" class="col-lg-10 ml-sm-auto px-4">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                Hotel Occupancy
              </div>
              <div class="card-body">
                <h3>Hi Admin</h3>
                {{!-- <input type="hidden" id="roomsData" value="{{rooms}}">
                <canvas id="myChart"></canvas>                 --}}
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>