body {
  font-family: Arial, sans-serif;
}

.container-fluid {
  padding: 0;
}

.sidebar {
  background-color: #333;
  width: 334px;
  min-height: 100vh;
}

.sidebar h3 {
  padding: 20px;
  margin-bottom: 0;
  background-color: #333;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px 20px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #ccc;
  /* text-decoration: underline; */
}

.sidebar h3{
  color: white;
}

.main-container {
  padding: 20px;
}


.bin-id-list {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bin-id-link {
  text-decoration: none;
  color: #353536;
  margin-right: 5px; 
}

.bin-id-link:last-child {
  margin-right: 0;
}
